<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
</head>
<body>
    <nav>
        <button><a href="/recipes">Back</a></button>
    </nav>
    <div class="titleImage">
        <h2><%= recipe.recipeTitle %></h2>
        <img src="<%= recipe.imageLink %>">
    </div>
    <div class="description">
        <h3>Description</h3>
        <p><%= recipe.description %></p>
    </div>
    <div class="prepTime">
        <h3>Prep Time</h3>
        <p><%= recipe.prepTime %></p>
    </div>
    <div class="ingredients">
        <h3>Ingredients</h3>
        <p><%= recipe.ingredients %></p>
    </div>
    <div class="instructions">
        <h3>Instructions</h3>
        <p><%= recipe.instructions %></p>
    </div>
</body>
</html>